.header {
  display: flex;
  align-items: center;
  
  padding: 5px 20px;
  padding-left: 100px;
  background-color: rgb(15, 170, 170);

  color: rgb(7, 66, 66);
}

.header h1 {
  flex: 1;

  margin: 0;
}

.header ul {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;

  margin:0;
  padding: 0;
}

.header li {
  padding: 0;
  margin: 0;
}